.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.network {
  margin: auto;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 300px;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  border-spacing: 0;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
  align-items: flex-start;
}

input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.upkeep,
.management {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

table {
  width: auto;
}